openapi: 3.1.0
info:
  title: Auto-Tune API
  description: Cross-server price aggregation and statistics for the Auto-Tune economy plugin.
  version: 1.0.0
servers:
  - url: https://prices.auto-tune.io
    description: Production Server
paths:
  /api/servers/register:
    post:
      summary: Register a new server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerRegistration'
      responses:
        '201':
          description: Server registered
  /api/servers/{id}/heartbeat:
    post:
      summary: Send server heartbeat
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HeartbeatPayload'
      responses:
        '200':
          description: Heartbeat accepted
  /api/servers/{id}/prices:
    post:
      summary: Submit item ratio matrices
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PriceMatrix'
      responses:
        '202':
          description: Prices submitted
  /api/prices/true:
    get:
      summary: Get consensus true prices
      responses:
        '200':
          description: True prices data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TruePrices'
  /api/servers/exchange-rates:
    get:
      summary: Get cross-server exchange rates
      responses:
        '200':
          description: Exchange rates data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRates'
  /api/servers:
    get:
      summary: List registered servers
      responses:
        '200':
          description: Server list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServerInfo'
  /api/stats:
    get:
      summary: Network aggregate stats
      responses:
        '200':
          description: Stats data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStats'
components:
  schemas:
    ServerRegistration:
      type: object
      properties:
        name:
          type: string
        archetype:
          type: string
    HeartbeatPayload:
      type: object
      properties:
        player_count:
          type: integer
        plugin_version:
          type: string
          description: Auto-Tune plugin version string (e.g. "2.0.0")
    PriceMatrix:
      type: object
      properties:
        ratios:
          type: object
          additionalProperties:
            type: number
    TruePrices:
      type: object
      additionalProperties:
        type: number
    ExchangeRates:
      type: object
      additionalProperties:
        type: number
    ServerInfo:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        plugin_version:
          type: string
          description: Auto-Tune plugin version of this server, if reported.
    NetworkStats:
      type: object
      properties:
        total_servers:
          type: integer
